nav {
    position: fixed;
    top: 0px;
    left: 10%;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    display: inline-block;
}

table, th, tr, td {
    border-collapse: collapse;
    border: 3px dotted black;
    background-color: lightgreen;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: greenyellow;
}

td {
    white-space: pre-line;
}
body{
    margin: auto;
    background-size: auto;
    background: url("../img/background.jpg") no-repeat fixed;
}
button:hover{
    color: yellowgreen;
    background-color: dimgray;
}
button:active{
    color: cadetblue;
    background-color: black;
}