<article>
    <header> <h2>O mnie</h2></header>
    <table>
        <th>Dane</th>
        <th>Wartość</th>
        <tr></tr>
        <td>Imie</td>
        <td id="name"></td>
        <tr></tr>
        <td>Nazwisko</td>
        <td id="surname"></td>
        <tr></tr>
        <td>Email</td>
        <td id="email"></td>
        <tr></tr>
        <td>Twitter</td>
        <td id="twitter"></td>
        <tr></tr>
        <td>Projekty</td>
        <td id="projects"></td>
        <tr></tr>
    </table>
</article>