<section>
    <header>
        <h2>Kontakt</h2>
    </header>
    <form method="get" action="index.html">
        <fieldset>
            <legend>Formularz kontaktowy</legend>
            <span class="label">Imię: </span>
            <input name="name" type="text"/><br/>
            <span class="label">Nazwisko: </span>
            <input name="surname" type="text"/><br/>
            <span class="label">Data urodzenia:</span>
            <input name="date" type="date"/><br/>
            <span class="label">Ulubiony kolor:</span>
            <input name="color" type="color"/><br/>
            <span class="label">Płeć:</span>
            <input type="radio" name="contract_type" value="male" />M
            <input type="radio" name="contract_type" value="female"/>F<br/>
            <input type="reset" value="Zresetuj formularz"/>
            <input type="submit" value="Wyślij"/>
        </fieldset>
    </form>
</section>
